*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    min-height: 100vh;
}



header{
    background-color: violet;
    width: 100vw;
    padding: 50px ;
    text-align: center;
}

head h1{
    color: aqua;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;

}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
header nav ul li a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li{
    padding: 10px 20px;
}

header nav ul li:hover{
    background-color: aqua;
    border-radius: 10px;
    cursor:not-allowed ;
}
s
main{
    background-color:#001;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-main{
    background-color: rgb(42, 165, 151);
    max-width: 70%;
    border-radius: 10px;
    padding: 20px;
}
.section-main h2{
    color: #001;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;

}
.section-main p{
    color: #008;
    font-size: medium;


}


.section-main img{
    width: 80%;
    
}
.section-cursos {
    min-width: 80%;
}
.div-conteudo {
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;

}
.div-item{
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;

}
.div-item h2 {
    text-align: center;
    text-transform: capitalize;
    color: aqua;
    font-size: 20px;
}
.div-item p {
    text-align: center;
    color: #001;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-contato{
    min-width: 40%;
}
.section-contato form {
    display: flex;
    flex-direction: column;
}
.section-contato form input,
.section-contato form textarea {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
    padding: 10px;
    border-radius: 10px;

}
.section-contato form button {
    padding: 20px;
    background-color: #008;
    color: aqua;
    font-size: 20px;
    border: none;
    border-radius: 10px;

}
.section-contato form button:hover{
    background-color: #1496c5;
}
.comentarios.











/* 
#TITULO
{
   color:red;
   font-size: 120;
   font-family: monospace;
} */